__pycache__/
tr/
healthy/
pd/
Data/
Francisco/
Destexhe_Static_AMPA_Synapse.c
Destexhe_Static_AMPA_Synapse.o
Destexhe_Static_GABAA_Synapse.c
Destexhe_Static_GABAA_Synapse.o
mod_func.c
mod_func.o
myions.c
myions.o
nrnmech.dll
pGPeA.c
pGPeA.o
pSTN.c
pSTN.o
tc_CaConc.c
tc_CaConc.o
tc_CaT.c
tc_CaT.o
tc_fastK.c
tc_fastK.o
tc_fastNa.c
tc_fastNa.o
tc_h.c
tc_h.o
tc_pas2.c
tc_pas2.o
tc_slowK.c
tc_slowK.o
mc_Cad.o
mc_Cad.c
mc_hh2.o
mc_hh2.c
mc_IM.o
mc_IM.c
mc_IT.o
mc_IT.c
izhi2007b.o
izhi2007b.c
pc_CaBK.c
pc_CaBK.o
pc_Caint.c
pc_Caint.o
pc_CaP.c
pc_CaP.o
pc_Ihcn.c
pc_Ihcn.o
pc_Kbin.c
pc_Kbin.o
pc_Kv1.c
pc_Kv1.o
pc_Kv4.c
pc_Kv4.o
pc_leak.c
pc_leak.o
pc_Na.c
pc_Na.o
pc_Narsg.c
pc_Narsg.o
graph.py
repeats.py
model _chforlong.py
statistics.py